<div class = 'text-center'>
  <br>
    <%= image_tag "buliding.png" %>
  <br>
  <br>
  <div> <%= link_to 'Home' %> | <%= link_to 'About' %> | <%= link_to 'Contact'  %> </div>
  <div>© 2016 DevBootstrap All Rights Reserved</div>
</div>
<br>